<section class="mb-5">
                <h2 class="section-title">Öne Çıkan Kampanyalar</h2>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="campaign-card">
                            <img src="~/img/HomePage/campaign_pants.jpg" alt="Kampanya 1" class="img-fluid">
                            <div class="campaign-overlay">
                                <div class="campaign-title">Sezon Sonu İndirimleri</div>
                                <div class="campaign-desc">Seçili ürünlerde %70'e varan indirim fırsatını kaçırma!</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="campaign-card">
                            <img src="~/img/HomePage/campaign_shirt.jpg" alt="Kampanya 2" class="img-fluid">
                            <div class="campaign-overlay">
                                <div class="campaign-title">Okula Dönüş Fırsatları</div>
                                <div class="campaign-desc">Tüm okul ihtiyaçlarında özel fiyatlar sizleri bekliyor!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>