<footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                            <div class="footer-title">Trendyol</div>
                            <div class="footer-links">
                                <a href="#">Biz Kimiz</a>
                                <a href="#">Kariyer</a>
                                <a href="#">İletişim</a>
                                <a href="#">Trendyol Express</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                            <div class="footer-title">Yardım</div>
                            <div class="footer-links">
                                <a href="#">Sıkça Sorulan Sorular</a>
                                <a href="#">Canlı Yardım</a>
                                <a href="#">Nasıl İade Ederim</a>
                                <a href="#">İşlem Rehberi</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                            <div class="footer-title">Kategoriler</div>
                            <div class="footer-links">
                                <a href="#">Kadın</a>
                                <a href="#">Erkek</a>
                                <a href="#">Çocuk</a>
                                <a href="#">Elektronik</a>
                                <a href="#">Ev & Mobilya</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-title">Bizi Takip Edin</div>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            
            <div class="copyright">
                <div class="container">
                    <p class="mb-0">© 2025 DSM Grup Danışmanlık İletişim ve Satış Tic.A.Ş.-Her Hakkı Saklıdır.</p>
                </div>
            </div>